<footer class="footer">
    <div>
        <a href="" style="display: inline-block;">Projects</a>
        <p style="display: inline-block;"> | </p>
        <a href="" style="display: inline-block;">Contact Us</a>
    </div>
    <p>Blade Lucas &copy; 2024</p>
</footer>