<header>
    <div class="header">
        <div>
            <h1 style="display:inline-block">Blade Lucas's Portfolio</h1>
            <button type="button" class="btn btn-outline-light btn-md" style="float:right; display:inline-block" href="./src/admin">Login</button>
        </div>
    </div>
</header>