<header>
    <div class="header">
        <div>
            <h1 style="display:inline-block">Blade Lucas's Portfolio</h1>
            <a class="btn btn-outline-light btn-md" style="float:right; display:inline-block;" href="./src/admin">Login</a>
        </div>
    </div>
</header>