---
layout: layouts/base.njk
title: Eleventy Project
description: Welcome to the homepage of my INFT3202 Eleventy Project
---
<div class="px-4 py-4">
    <div class="text-secondary px-4 py-5 text-center border border-3 border-dark rounded">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-black">{{title}}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">{{description}}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"  href="projects">Projects</a>
                    <button type="button" class="btn btn-outline-info btn-lg px-4">Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="px-4 py-4">
    <div class="row">
        <div class="col-sm-6">
          <div class="px-4 py-5 border border-3 border-dark rounded">
            <div class="card-body">
              <h5 class="card-title">Most Recent Project</h5>
              {%- set lastProject = collections.projects | reverse | first -%}
              <p class="card-text">My most recent project is "{{lastProject.data.title}}"</p>
              <a href="{{lastProject.url}}" class="btn btn-primary">Project</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="px-4 py-5 border border-3 border-dark rounded">
            <div class="card-body">
              <h5 class="card-title">Contact Me Directly</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/contact" class="btn btn-primary">Contact</a>
            </div>
          </div>
        </div>
      </div>
</div>