---
layout: layouts/base.njk
title: Projects
description: Check out the Projects I have worked on throughout my time at Durham College.
---

<div class="project-list px-4 py-4">
  <!-- Project Cards -->
  <div class="row px-4">
    {%- for project in collections.projects -%}
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <article class="articleCard px-4 py-4 border border-4 border-black rounded" data-semester="{{ project.data.semester }}">
          <h3>{{ project.data.title }}</h3>
          <div>
            <h5 class="d-inline-block">Semester {{ project.data.semester }} Project</h5>
            <h5 class="d-inline-block mx-2">|</h5>
            <h5 class="d-inline-block">Author: {{ project.data.author }}</h5>
          </div>
          <a href="{{ project.url }}" class="btn btn-outline-light btn-primary btn-md mt-2">Open</a>
        </article>
      </div>
    {%- endfor %}
  </div>
</div>
