body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
.bg{
    background-image: linear-gradient(to right, rgba(184, 178, 170, 0.6), rgba(255, 235, 205, .6)), url(./assets/background.jpg);
}
.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-container .form-select {
    width: auto;
  }
.project-list {
    gap: 20px;
}
  .articleCard {
    background: #ffffff31;
    border-style: solid;
    display: block;
    margin-bottom: 20px;
}
.header {
    padding: 20px;
    text-align: center;
    background: #4848427c;
    color: white;
    font-size: 30px;
}
.header h1 a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}
.header h1 a:hover{
    color: inherit;
    transform: scale(0.90);
}
.header h1 a:focus {
    color: inherit;
}
.footer{
    padding: 10px;
    text-align: center;
    background: #4848427c;
    color: white;
    font-size: 14px;
    margin-top: auto;
    border-top: 1px solid #ddd;
}
#spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardBackground{
    background: #ffffff31;
}