.bg{
    background-image: linear-gradient(to right, rgba(184, 178, 170, 0.6), rgba(255, 235, 205, .6)), url(./assets/background.jpg);
}
.articleCard{
    border-style: solid;
}
.header {
    padding: 20px;
    text-align: center;
    background: #4848427c;
    color: white;
    font-size: 30px;
}
.footer{
    padding: 10px;
    text-align: center;
    background: #4848427c;
    color: white;
    font-size: 14px;
}
#spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }